RewriteEngine on

RewriteCond %{QUERY_STRING} arch=amd64
RewriteRule ^.*$ grml64

RewriteCond %{QUERY_STRING} arch=i386
RewriteRule ^.*$ grml32

RewriteCond %{QUERY_STRING} arch=both
RewriteRule ^.*$ grml96

RewriteCond %{QUERY_STRING} version=([0-9\-\.a-z]+)
RewriteRule ^(.*)$ $0_%1

RewriteCond %{QUERY_STRING} version=([0-9\-\.a-z]+)rc
RewriteRule ^(.*)$ devel/$0

RewriteRule ^(.*)$ $0.iso

RewriteCond %{QUERY_STRING} filetype=bt
RewriteRule ^(.*)$ $0.torrent
RewriteCond %{QUERY_STRING} filetype=(md5|sha1)
RewriteRule ^(.*)$ $0.%1
RewriteCond %{QUERY_STRING} filetype=signature
RewriteRule ^(.*)$ $0.sha1.asc

RewriteRule ^(.*)$ http://download.grml.org/$0? [R,L]

