<!DOCTYPE html>
<html>
<head>
<title>grml.org - Order</title>
<meta name="Title" content="grml.org - Order" />
<meta name="Author" content="the grml team [www.grml.org/team/]" />
<meta name="Keywords" content="grml.org, grml" />
<meta name="Description" content="Order of grml.org" />
<meta name="Abstract" content="grml, just another linux-distribution" />
<meta name="fdse-index-as" content="http://www.grml.org/order/" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="http://www.grml.org/" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="home" href="/" title="grml.org" />
<link rel="help" href="/features/" title="About" />
<link rel="author" href="/team/" title="Team" />
<link rel="icon" href="/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
[% INCLUDE static.inc %]

      <div class="content">

            <p><img style="float: right" src="/img/cdrom.png" alt="*" /></p>

            <h1>Order a Grml CD</h1>

            <p>If you don't have the bandwidth to <a href="/download/">download the Grml
            ISO</a> you can order a Grml CD at the following webshops:</p>

            <ul>
              <li><a href="http://shop.tuxpost.de/index.php?manufacturers_id=66&osCsid=1f6dc8c66e7f5697d511085b2e7b61c6">tuxpost.de</a> (Germany)</li>
              <li><a href="http://www.linuxcd.org/view_distro.php?id_distro=298">linuxcd.org</a> (Worldwide)</li>
            </ul>

      </div>

[% INCLUDE static_bottom.inc %]
