<!DOCTYPE html>
<html>
<head>
<title>grml.org - Survey 2011</title>
<meta name="Title" content="grml.org - Survey 2011" />
<meta name="Author" content="the grml team [www.grml.org/team/]" />
<meta name="Keywords" content="grml.org, grml" />
<meta name="Description" content="Survey 2011 @ grml.org" />
<meta name="Abstract" content="grml, just another linux-distribution" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="https://grml.org/" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="home" href="/" title="grml.org" />
<link rel="help" href="/features/" title="About" />
<link rel="author" href="/team/" title="Team" />
<link rel="icon" href="/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
[% INCLUDE static.inc %]

      <div class="content">

            <h1>Grml User Survey 2011</h1>

	    <p>Thanks to all participants for joining the party! The survey has
	    beend closed and we are working out your feedback. We'll provide a
	    summary of the results as soon as possible (will be announced
	    through our <a href="/mailinglist/">mailinglist</a>, <a
	      href="http://grml.org/index.rss">rss</a>, <a href="/irc/">irc</a>,
	    <a href="http://twitter.com/grmlproject">twitter</a>, <a
	      href="http://identi.ca/grml">identi.ca</a>).</p>

      </div>

[% INCLUDE static_bottom.inc %]

