<!DOCTYPE html>
<html>
<head>
<title>grml.org - Debian Live system / CD for sysadmins and texttool-users</title>
<meta name="Title" content="grml.org - Homepage" />
<meta name="Author" content="the Grml team [www.grml.org/team/]" />
<meta name="Keywords" content="Grml, grml.org, live-cd, Debian, live system, linux, sysadmins, system administrators, debian" />
<meta name="Description" content="Homepage of grml.org" />
<meta name="Abstract" content="Grml, live-cd for sysadmins" />
<meta name="fdse-index-as" content="http://grml.org/" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="http://grml.org/" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="home" href="/" title="grml.org" />
<link rel="help" href="/features/" title="About" />
<link rel="author" href="/team/" title="Team" />
<link rel="icon" href="/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body class="frontpage">
[% INCLUDE static.inc %]

      <div class="content">

            <div class="banner">
            <h1>Grml Live Linux</h1>
            <h2>Debian based Linux Live system</h2>
            </div>

            <h2>What is Grml?</h2>

            <p>Grml is a bootable live system (Live-CD) based on <a
              href="http://www.debian.org/">Debian</a>. Grml includes a
            collection of GNU/Linux software especially for system
            administrators. Users don't have to install anything on fixed
            storage. Grml is especially well suited for administrative tasks like installation,
            deployment and system rescue. <a href="/features/">Read
            more...</a></p>

            <br />

            <p style="text-align: center;">
            <b>The current release:</b><br/><br/>
            <a href="/download/" class="button" style="padding: 12px; font-weight: bold;"><span>Download Grml 2014.11</span></a>
            </p>
            <br />

            <p style="text-align: center;">
            <b>Pre-Release:</b><br/><br/>
            <a href="/download/prerelease/" class="button" style="padding: 12px; font-weight: bold;"><span>Download Grml 2017.05-rc1</span></a>
            </p>
            <br />

            <img style="float: right; margin-left: 20px" src="/img/grmltux_small.jpg" alt="*" />
            <br />

            <h2>News</h2>
            <div class="news">
            <p>08 May 2017: New <a href="/changelogs/README-grml-2017.05-rc1/">release candidate version 2017.05-rc1</a></p>
            <p>07 Jan 2016: <a href="http://blog.grml.org/archives/394-Is-Grml-still-alive.html">Is Grml still alive?</a></p>
            <p>17 Nov 2014: New <a href="/changelogs/README-grml-2014.11/">stable release version 2014.11</a> available</p>
            </div>

      </div>

[% INCLUDE static_bottom.inc %]
