<!DOCTYPE html>
<html>
<head>
<title>grml.org - Release Notes: Grml 2020.06-rc1 - Codename CODENAME</title>
<meta name="Title" content="grml.org - Release Notes: Grml 2020.06-rc1 CODENAME" />
<meta name="Author" content="the Grml team [grml.org/team/]" />
<meta name="Keywords" content="grml.org, Grml" />
<meta name="Description" content="Release Notes of Grml 2020.06-rc1" />
<meta name="Abstract" content="Grml, the linux live-cd for sysadmins and texttool users" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="https://grml.org/" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="home" href="/" title="grml.org" />
<link rel="help" href="/features/" title="About" />
<link rel="author" href="/team/" title="Team" />
<link rel="icon" href="/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
[% INCLUDE static.inc %]

      <div class="content">

        <h1>Release Notes for Grml 2020.06-rc1 - codename <a href="/faq/#releasename">CODENAME</a></h1>

<!--
FIXME
        <p><strong>NOTE: the <a href="/changelogs/README-grml-2020.06/">stable release 2020.06</a> is already available!</strong></p>
-->

        <p><a href="/download/prerelease/">Download Now</a></p>

        <h3>About</h3>

        <p>Grml is a Debian based live system focusing on the needs of system administrators.
        This Grml release provides fresh software packages from Debian testing (AKA bullseye).
        As usual it also incorporates up to date hardware support and fixes known bugs from previous Grml releases.</p>

        <h3>Important Changes</h3>

        <ul>

          <li>The default mount point for the live system was changed from <em>/lib/live/mount/medium</em> to <em>/run/live/medium</em>.
          This works around a regression which appears on-again-off-again, and follows upstream changes for Debian/bullseye.
          If you don't have any custom tools which rely on <em>/lib/live/mount/medium</em> (or its ancestor <em>/live/image</em>),
          then this change is irrelevant for you

          <li>Tools like grml2usb and grml-x have been ported from Python2 to Python3 (AKA py3k).

        </ul>

        <h3>New features</h3>

        <p>Highlighting the most relevant changes only:</p>

        <ul>

          <li>Misc:

            <ul>
              <li>cloud-init support (grml-full only): TODO

              <li>qemu-guest-agent: TODO
            </ul>

          </li>


          <li><a href="/grml-live/">grml-live</a> (build system for creating Grml (based) Linux live systems):

            <ul>
              <li>Support for cloud-init (via GRML_FULL)
              <li>sudoers: set Defaults secure_path to have sane default settings
              <li>initramfs xz-compress: use default xz compression level
              <li>GRMLBASE/98-clean-chroot: fix resolvconf symlink handling + get rid of resolvconf workarounds
              <li>Rebuild /var/lib/dpkg/available to install not-yet-installed packages in update runs
              <li>Sources list setup for security: switch from testing/updates to testing-security
              <li>Switch default mount point from /lib/live/mount/medium to /run/live/medium
            </ul>

          </li>

          <li><a href="/grml2usb/">grml2usb</a> (tool to install Grml ISO to usb device):

            <ul>
              <li>Support more syslinux module locations and support setting custom ones via option <em>--syslinux-libs=...</em>
              <li>No longer explicitly list addon files, instead copy all files from <em>/boot/addons/</em>
              <li>Provide git-describe based version information when running from within git
              <li>Fix path to syslinux *.c32 files
              <li>Add smoke autopkgtests to Debian packaging
              <li>Abort if required logo.16 file is missing
              <li>Avoid custom boot options getting duplicated when used with multiple ISOs
            </li>

          </ul>


          <li>grml-hwinfo (tool to collect hardware information):

            <ul>
              <li>Store output of `lscpu -e` in file `lscpu_extended`
              <li>Store cpuid output in file `cpuid`, add cpuid to Recommends
              <li>Record uptime (/proc/uptime in `proc_uptime` and uptime(1) in file `uptime`)
              <li>Report SecureBoot state via mokutil
              <li>Store "$HOME"/.local/share/xorg/Xorg.0.log (if available) as user_Xorg.0.log
              <li>Log output of verbose lsusb run in file lsusb_verbose
              <li>Provide output of verbose lspci run in file lspci_verbose
              <li>Recommend acpica-tools package and provide acpidump output (as root)
            </ul>

          </li>

          <li><a href="/zsh/">grml-zshrc</a> (Zsh configuration):

            <ul>
              <li>Reset $REPLY parameter before calling prompt token functions
              <li>Disable bracketed paste mode for dumb terminals
              <li>Fix urxvt multi-line issue
              <li>commit-to-history: keep escaped character
              <li>Support PAGER='less -Mr' usage and fall back to vi if LESSOPEN is unset
            </ul>

          </li>

          <li><a href="/grml-debootstrap/">grml-debootstrap</a> (wrapper around debootstrap for installing pure Debian):

            <ul>
              <li>Support BOOT_APPEND usage outside of VMs
              <li>Support <a href="https://gitlab.mister-muffin.de/josch/mmdebstrap">mmdebstrap</a> via DEBOOTSTRAP=mmdebstrap
              <li>Use new security.debian.org repository layout for bullseye and newer
              <li>Fix detection of predictable network interface names
              <li>Add option <em>--sshcopyid</em> to authorise root login
              <li>Provide workaround for Debian bug <a href="https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=918590">#918590</a> with lvm + udev in VM installations
              <li>/etc/fstab: provide header comment, pointing to man pages and systemctl daemon-reload
              <li>Add DHCP setting for Predictable Network Interface Names
            </ul>

          </li>

        </ul>

        <h3>Bits &amp; bolts</h3>

        <ul>
          <li>Linux kernel <b>5.6</b>.</li>
          <li>Fixed several bugs from the <a href="https://github.com/grml/grml/issues/">issue tracking system</a>.</li>
        </ul>

        <h3>Packages</h3>

        <p>Details about shipped packages and their versions in Grml are
        available in the <a href="/files/#debian">Debian section</a>. Visit
        <a href="/files/grml64-full_2020.06/dpkg.list">dpkg_list</a> for a
        detailed list of packages shipped with Grml 2020.06(-rc1).</p>

        <h3>Updates</h3>

        <p>Packages are taken from Debian testing as of FIXME of FIXME 2020.
        22 packages have been removed, and these 26 new packages
        have been added (excluding lib*, *-common, python3-* and kernel image):</p>

        <ul>

          <li>bind9-dnsutils
          <li>bind9-libs (dependency of avahi-daemon, bind9-dnsutils, bind9host + libnss-mdns)
          <li>borgbackup
          <li>cloud-init
          <li>cpp-9 (replacement for cpp-8)
          <li>dnsutils
          <li>fuse3 (dependency of borgbackup, exfat-fuse, ntfs-3g, sshfs + testdisk)
          <li>gcc-10-base (replacement for gcc-8)
          <li>gcc-9-base (replacement for gcc-8)
          <li>iperf3
          <li>logsave (dependency of e2fsprogs)
          <li>lua-lpeg (dependency of nmap)
          <li>ncdu
          <li>pci.ids
          <li>perl-modules-5.30
          <li>python3.8 (replacement for python3.7)
          <li>python3.8-minimal (replacement for python3.7-minimal)
          <li>qemu-system-gui
          <li>radvd
          <li>ruby2.7 (replacement for ruby2.5)
          <li>runit-helper (dependency of acpi-support, acpid, irqbalance + openssh-server)
          <li>sound-theme-freedesktop (dependency of vim-gtk3)
          <li>tree
          <li>usb.ids (dependency of usbutils)
          <li>vim-gtk3
          <li>zstd

        </ul>

        <p>These Debian packages have been removed/replaced (excluding lib*, *-data, *-common, python-* and kernel image):</p>

        <ul>

          <li>ash
          <li>cpp-8 (replaced with cpp-9)
          <li>cryptsetup-run
          <li>fuse
          <li>gcc-8-base (replaced with gcc-9-base + gcc-10-base)
          <li>gdbm-l10n
          <li>hfsprogs
          <li>ipsec-tools
          <li>lilo
          <li>linux-libc-dev
          <li>pm-utils
          <li>powermgmt-base
          <li>python3-prettytable
          <li>python3.7
          <li>python3.7-minimal
          <li>racoon
          <li>rng-tools
          <li>ruby-did-you-mean
          <li>ruby-json
          <li>ruby2.5 (replaced with ruby2.7)
          <li>tasksel
          <li>vim-gtk (replaced with vim-gtk3)

        </ul>

        <h3>Known issues</h3>

        <p>Please visit the <a href="/bugs/known/">known bugs</a> web page.</p>

        <h3>Download Grml 2020.06-rc1</h3>

        <p>Grml 2020.06-rc1 can be downloaded from
        <a href="/download/prerelease/">grml.org/download/prerelease/</a>.</p>

        <h3>Feedback</h3>

        <p>Your comments, bug reports, patches, and suggestions will help
        fixing bugs and improving future releases. If you find a problem with
        the release please check <a
        href="/bugs/known/">the known bugs list</a> and report problems using information on <a
        href="/bugs/">grml.org/bugs/</a>. Please send your feedback and
        feature requests <a href="/contact/">to the Grml team</a>!</p>

        <a name="thanks"></a>
        <h3>Thanks</h3>

        <p>Many thanks in this release go to (alphabetically)
        Albert Dengg,
        András Korn,
        Axel Beckert,
        Florian Apolloner,
        Iru Cai,
        Joel Wirāmu Pauling,
        Lukas Prokop,
        Marc Haber,
        Michael Stone,
        Patrick Schleizer and
        Ralf Moll
        for their contributions.</p>

        <h3>More Information</h3>

        <p>You can find out more about Grml on <a href="/">our website</a>, <a
        href="/contact/#irc">IRC channel</a>, and <a
        href="https://wiki.grml.org/">wiki</a>.

        <p>To sign up for future Grml announcements, please subscribe to <a
        href="http://ml.grml.org/mailman/listinfo/grml-announce">Grml's
        announcement list</a>.</p>

</div>

[% INCLUDE static_bottom.inc %]
