<!DOCTYPE html>
<html>
<head>
<title>grml.org - Copyright</title>
<meta name="Title" content="grml.org - Copyright" />
<meta name="Author" content="the grml team [www.grml.org/team/]" />
<meta name="Keywords" content="grml.org, grml" />
<meta name="Description" content="Copyright of grml.org" />
<meta name="Abstract" content="grml, just another linux-distribution" />
<meta name="fdse-index-as" content="http://www.grml.org/news/" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="http://www.grml.org/" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="home" href="/" title="grml.org" />
<link rel="help" href="/features/" title="About" />
<link rel="author" href="/team/" title="Team" />
<link rel="icon" href="/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
[% INCLUDE static.inc %]

      <div class="content">

            <p><img style="float: right" src="/img/info.png" alt="*" /></p>

            <h1>Copyright</h1>

            <p>All programs written for grml by the <a href="/team/">grml developers</a>
            are released under <a
            href="http://www.gnu.org/copyleft/gpl.html">the GNU General
            Public License</a>. Debian packages of the grml software are
            available in the <a
            href="http://deb.grml.org/">grml repository</a>; sources are
            available at <a
            href="http://sources.grml.org/">http://sources.grml.org/</a>.</p>

            <p>If not otherwise specified, the software packaged as grml and published in the form of ISO images falls under
            <a href="http://www.gnu.org/copyleft/gpl.html">the GNU General Public
            License</a>. Take a look at /usr/share/doc/$PACKAGE/copyright for
            the specific license terms of each shipped package.</p>

            <p>You can copy, modify, redistribute and even resell the CD without
            restrictions, as long as you license it to your customers under the same license.
            (Note: this is just a summary of the terms of the GPL; always read the
            <a href="http://www.gnu.org/copyleft/gpl.html">full text</a> of the license
            and preferably consult a lawyer if you have any doubt whether what you want to
            do is permitted by the GPL.)</p>

            <h2>Impressum</h2>

<pre class="rahmen">
Michael Prokop
Bienengasse 26/9
8020 Graz
Austria / Österreich
mika (at) grml.org
</pre>

      </div>

[% INCLUDE static_bottom.inc %]
