<!DOCTYPE html>
<html>
<head>
<title>grml.org - Team</title>
<meta name="Title" content="grml.org - Team" />
<meta name="Author" content="the grml team [www.grml.org/team/]" />
<meta name="Keywords" content="grml.org, grml" />
<meta name="Description" content="Team of grml.org" />
<meta name="Abstract" content="grml, just another linux-distribution" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="https://grml.org/" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="home" href="/" title="grml.org" />
<link rel="help" href="/features/" title="About" />
<link rel="author" href="/team/" title="Team" />
<link rel="icon" href="/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
[% INCLUDE static.inc %]

      <div class="content">

            <h1>The Grml Team</h1>

            <h2>Grml Developers</h2>

            <ul>
              <li>Darshaka Pathirana (dpat)</li>
              <li>Frank Terbeck (ft)</li>
              <li>Michael Prokop (mika)</li>
            </ul>

            <h2>Alumni Grml Developers</h2>

            <ul>
              <li>Alexander Steinböck</li>
              <li>Alexander Wirt</li>
              <li>Andreas Gredler</li>
              <li>Chris Hofstaedtler</li>
              <li>Evgeni Golov</li>
              <li>Marcel Wichern</li>
              <li>Markus Rekkenbeil</li>
              <li>Matthias Kopfermann</li>
              <li>Michael Gebetsroither</li>
              <li>Moritz Augsburger</li>
              <li>Rhonda D'Vine</li>
              <li>Timo Boettcher</li>
              <li>Tobias Klauser</li>
              <li>Ulrich Dangel</li>
              <li>Wolfgang Scheicher</li>
            </ul>

            <h2>Thanks</h2>

            <ul>
              <li>Jogi Hofmüller and mur.at: hosting grml mailinglists</li>
            </ul>

      </div>

[% INCLUDE static_bottom.inc %]

