<!DOCTYPE html>
<html>
<head>
<title>grml.org - Team</title>
<meta name="Title" content="grml.org - Team" />
<meta name="Author" content="the grml team [www.grml.org/team/]" />
<meta name="Keywords" content="grml.org, grml" />
<meta name="Description" content="Team of grml.org" />
<meta name="Abstract" content="grml, just another linux-distribution" />
<meta name="fdse-index-as" content="http://www.grml.org/team/" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="http://www.grml.org/" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="home" href="/" title="grml.org" />
<link rel="help" href="/features/" title="About" />
<link rel="author" href="/team/" title="Team" />
<link rel="icon" href="/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
[% INCLUDE static.inc %]

      <div class="content">

            <h1>The Grml Team</h1>

            <h2>Grml Developers</h2>

            <ul>
                <li>Alexander Wirt (formorer)</li>
                <li>Andreas Gredler (jimmy)</li>
                <li>Evgeni Golov (zhenech)</li>
                <li>Frank Terbeck (ft)</li>
                <li>Michael Prokop (mika)</li>
            </ul>

            <h2>Thanks</h2>

            <ul>
                <li>Adriana Teixera</li>
                <li>Alexander 'Leo' Bergolth</li>
                <li>Andrey Rahmatulli</li>
                <li>Antonio Diaz Diaz</li>
                <li>Axel Beckert</li>
                <li>Bernd Arnold</li>
                <li>Bernhard Tittelbach</li>
                <li>Carsten Hey</li>
                <li>Christian Hofstaedtler</li>
                <li>Christoph Biedl</li>
                <li>Eduard Bloch</li>
                <li>Gerfried Fuchs</li>
                <li>Gregor Perner</li>
                <li>Jan-Pieter Jacobs</li>
                <li>Jens Kubieziel</li>
                <li>Joerg Woelke</li>
                <li>Jordan Uggla</li>
                <li>Marc Haber</li>
                <li>Marek Straka</li>
                <li>Martin Krafft</li>
                <li>Marvin Vek</li>
                <li>Michael Gebetsroither</li>
                <li>Michael Gissing</li>
                <li>Michael Stapelberg</li>
                <li>Michel Isard</li>
                <li>Peter Palfrader</li>
                <li>Richard Hartmann</li>
                <li>Sedat Dilek</li>
                <li>Sven Joachim</li>
                <li>Thomas Koehler</li>
                <li>Thorsten Glaser</li>
                <li>Timo Boettcher</li>
                <li>Tobias Klauser</li>
                <li>Tonnerre Lombard</li>
                <li>Ulrich Dangel</li>
            </ul>

            <h2>Special Thanks</h2>

            <ul>
              <li>Jogi Hofmüller and mur.at: hosting grml mailinglists</li>
            </ul>

      </div>

[% INCLUDE static_bottom.inc %]

