<!DOCTYPE html>
<html>
<head>
<title>grml.org - Bugs</title>
<meta name="Title" content="grml.org - Report bug" />
<meta name="Author" content="the grml team [www.grml.org/team/]" />
<meta name="Keywords" content="grml.org, grml" />
<meta name="Description" content="Report bug(s) at grml.org" />
<meta name="Abstract" content="grml, just another linux-distribution" />
<meta name="fdse-index-as" content="http://www.grml.org/bugs/" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="http://www.grml.org/" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="home" href="/" title="grml.org" />
<link rel="help" href="/features/" title="About" />
<link rel="author" href="/team/" title="Team" />
<link rel="icon" href="/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
[% INCLUDE static.inc %]

<div class="content">

        <p><img style="float: right" src="/img/face-tongue.png" alt="*" /></p>

        <h1>Reporting Bugs</h1>

        <p>Please check for <a href="/bugs/known/">known bugs</a> before reporting new ones.</p>

        <p>Send us your bug report to <code>bugs (at) grml.org</code> or open a new issue in our repositories on Github.
        We track issues at <a href="https://github.com/grml/grml/issues">github.com/grml/grml/issues</a>.
	Several Grml sub-projects (grml-debootstrap, grml-etc-core, grml2usb,...) have their own repository and issue tracking,
	see <a href="https://github.com/grml/">github.com/grml/</a> to get an overview. If you're unsure where to report an issue though,
	feel free to use <a href="https://github.com/grml/grml/issues">github.com/grml/grml/issues</a> though.</p>

        <p>Please be as specific as possible. Include at least:
        <ul>
            <li>Steps to reproduce the problem</li>
            <li>Expected behavior</li>
            <li>Actual behavior</li>
            <li>Your system configuration (e.g. run <code>grml-hwinfo</code>)</li>
            <li>Software versions (<code>grml-version</code> and for the tool in question try <code>foo --version</code> or <code>dpkg -l foo</code>)</li>
        </ul>
        </p>

        <p>Take a look at "<a href="http://www.chiark.greenend.org.uk/~sgtatham/bugs.html">How to Report Bugs Effectively</a>".</p>

        <p>Note: all bugs are made public.</p>

        <p><b>Thank you for helping us improve Grml!</b></p>
</div>

[% INCLUDE static_bottom.inc %]
