<!DOCTYPE html>
<html>
<head>
<title>ppc @ grml.org</title>
<meta name="Title" content="grml.org - ppc" />
<meta name="Author" content="the grml team [www.grml.org/team/]" />
<meta name="Keywords" content="ppc port of grml, grml.org" />
<meta name="Description" content="ppc port webpage of grml.org" />
<meta name="Abstract" content="grml, just another linux-distribution" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="https://grml.org/" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="home" href="/" title="grml.org" />
<link rel="help" href="/features/" title="About" />
<link rel="author" href="/team/" title="Team" />
<link rel="icon" href="/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
[% INCLUDE static.inc %]

      <div class="content">

      <p style="float: right"><a href="http://www.grml.org/">grml master web site</a></p>

      <h1>PPC port of grml</h1>

      <p>Contact: ppc (at) grml.org</p>

      <p>Testers:</p>

      <ul>
        <li>Karl Voit: iBook 600 [mail@Karl-Voit.at]</li>
        <li>Markus Quaritsch: Powerbook 5,6, 15" [quam@qwws.net]</li>
        <li>Manuel Fuhr: []</li>
        <li>Markus Oswald: ibook G4, powermac G3 [moswald@iirc.at]</li>
      </ul>

      </div>

[% INCLUDE static_bottom.inc %]
