<!DOCTYPE html>
<html>
<head>
<title>grml.org - Known Bugs</title>
<meta name="Title" content="grml.org - Known Bugs" />
<meta name="Author" content="the grml team [www.grml.org/team/]" />
<meta name="Keywords" content="grml.org, grml" />
<meta name="Description" content="Report bug(s) at grml.org" />
<meta name="Abstract" content="grml, just another linux-distribution" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="https://www.grml.org/" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="home" href="/" title="grml.org" />
<link rel="help" href="/features/" title="About" />
<link rel="author" href="/team/" title="Team" />
<link rel="icon" href="/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
[% INCLUDE static.inc %]


<div class="content">

        <h1>Known Bugs</h1>

        <p>We track issues at <a href="https://github.com/grml/grml/issues">github.com/grml/grml/issues</a>.
        Several Grml sub-projects (grml-debootstrap, grml-etc-core, grml2usb,...) have their own repository and issue tracking,
        see <a href="https://github.com/grml/">github.com/grml/</a> to get an overview. If you're unsure where to report an issue though,
        feel free to use <a href="https://github.com/grml/grml/issues">github.com/grml/grml/issues</a> though.

        <p>If you find additional bugs, please <a href="/bugs/">report them</a>.</p>

        <h2>Known Bugs in Grml 2020.06</h2>

        <ul>
          <li><a href="https://github.com/grml/grml/issues/160">#160: bnx2x firmware files missing in initramfs/netboot packages</a> (fixed with updated netboot packages as of 2020-12-04)</li>
          <li><a href="https://github.com/grml/grml/issues/152">#152: grml-x sometimes crashes on start (e.g. when running under qemu)</a> (fixed in grml-x v0.7.2)</li>
          <li><a href="https://github.com/grml/grml/issues/109">#109: Failed unmounting /lib/live/mount/medium AKA /run/live/medium</a></li>
        </ul>

</div>

[% INCLUDE static_bottom.inc %]

