<!DOCTYPE html>
<html>
<head>
<title>grml.org - Known Bugs</title>
<meta name="Title" content="grml.org - Known Bugs" />
<meta name="Author" content="the grml team [www.grml.org/team/]" />
<meta name="Keywords" content="grml.org, grml" />
<meta name="Description" content="Report bug(s) at grml.org" />
<meta name="Abstract" content="grml, just another linux-distribution" />
<meta name="fdse-index-as" content="http://www.grml.org/bugs/known/" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="http://www.grml.org/" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="home" href="/" title="grml.org" />
<link rel="help" href="/features/" title="About" />
<link rel="author" href="/team/" title="Team" />
<link rel="icon" href="/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
[% INCLUDE static.inc %]


<div class="content">

        <h1>Known Bugs</h1>

        <p>We track issues at <a href="https://github.com/grml/grml/issues">github.com/grml/grml/issues</a>.
	Several Grml sub-projects (grml-debootstrap, grml-etc-core, grml2usb,...) have their own repository and issue tracking,
	see <a href="https://github.com/grml/">github.com/grml/</a> to get an overview. If you're unsure where to report an issue though,
	feel free to use <a href="https://github.com/grml/grml/issues">github.com/grml/grml/issues</a> though.

        <p>If you find additional bugs, please <a href="/bugs/">report them</a>.</p>

        <h2>Known Bugs in Grml 2018.12</h2>

        <ul>
          <li><a href="https://github.com/grml/grml/issues/109">#109: Failed unmounting /lib/live/mount/medium</a></li>
        </ul>

        <h2>Known Bugs in Grml 2017.05</h2>

        <ul>
          <li><a href="https://github.com/grml/grml/issues/76">#76: gpm isn't started</a></li>
          <li><a href="https://github.com/grml/grml/issues/65">#65: grml-terminalserver-config doesn't work</a></li>
          <li><a href="https://github.com/grml/grml/issues/55">#55: grml-hwinfo: sysdump causing grml-hwinfo to hang</a></li>
          <li><a href="https://github.com/grml/grml/issues/53">#53: grml-chroot not reliable with its recursive /dev bind mounts</a></li>
          <li><a href="https://github.com/grml/grml/issues/50">#50: locale issue during grml-autoconfig bootup</a></li>
        </ul>

</div>

[% INCLUDE static_bottom.inc %]

