<!DOCTYPE html>
<html>
<head>
<title>grml.org - Known Bugs</title>
<meta name="Title" content="grml.org - Known Bugs" />
<meta name="Author" content="the grml team [www.grml.org/team/]" />
<meta name="Keywords" content="grml.org, grml" />
<meta name="Description" content="Report bug(s) at grml.org" />
<meta name="Abstract" content="grml, just another linux-distribution" />
<meta name="fdse-index-as" content="http://www.grml.org/bugs/known/" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="http://www.grml.org/" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="home" href="/" title="grml.org" />
<link rel="help" href="/features/" title="About" />
<link rel="author" href="/team/" title="Team" />
<link rel="icon" href="/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
[% INCLUDE static.inc %]


<div class="content">

        <h1>Known Bugs</h1>

        <p>We recently started to track issues at <a href="https://github.com/grml/grml/issues">github</a> (though haven't really migrated there yet).
        Additional issues can be found in the Grml Bugtracker at <a href="http://bts.grml.org/grml/">bts.grml.org</a>.</p>

        <p>If you find additional bugs, please <a href="/bugs/">report them</a>.</p>

        <h2>Known Bugs in Grml 2017.05</h2>

        <p>No known yet.</p>

        <h2>Known Bugs in Grml 2014.11</h2>

        <ul>
          <li>System boot freezes during udev startup on some systems (e.g. on Supermicro boards and recent IBM server models). Workaround: use boot option <em>mgag200.modeset=0</em>. Tracked as <a href="http://bts.grml.org/grml/issue1334">Issue1334</a>.</li>
          <li>PXE boot might fail with "Failed to load ldlinux.c32". This is <a href="https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=750244">#750244</a>. Workaround: copy /usr/lib/syslinux/modules/bios/ldlinux.c32 from the Grml system to your tftp root directory.</li>
        </ul>

</div>

[% INCLUDE static_bottom.inc %]

