<!DOCTYPE html>
<html>
<head>
<title>grml.org - Release Notes</title>
<meta name="Title" content="grml.org - Release Notes" />
<meta name="Author" content="the grml team [www.grml.org/team/]" />
<meta name="Keywords" content="grml.org, grml" />
<meta name="Description" content="Changelogs of grml.org" />
<meta name="Abstract" content="Grml, a Live Linux distribution" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="https://grml.org/" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="home" href="/" title="grml.org" />
<link rel="help" href="/features/" title="About" />
<link rel="author" href="/team/" title="Team" />
<link rel="icon" href="/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
[% INCLUDE static.inc %]

      <div class="content">

        <p><img style="float: right" src="/img/changelog.jpg" alt="*" /></p>

        <h1>Release Notes</h1>

        <h2>Current release</h2>

        <p>
        <a href="README-grml-2024.02/">Release announcement for Grml 2024.02 - codename Glumpad</a>
        </p>

        <p>
        </p>

        <h2>Previous releases</h2>

        <ul>
          <li><a href="README-grml-2022.11/">Grml 2022.11</a> - codename MalGuckes</li>
          <li><a href="README-grml-2021.07/">Grml 2021.07</a> - codename JauKerl</li>
          <li><a href="README-grml-2020.06/">Grml 2020.06</a> - codename Ausgehfuahangl</li>
          <li><a href="README-grml-2018.12/">Grml 2018.12</a> - codename Gnackwatschn</li>
          <li><a href="README-grml-2017.05/">Grml 2017.05</a> - codename Freedatensuppe</li>
          <li><a href="README-grml-2014.11/">Grml 2014.11</a> - codename Gschistigschasti</li>
          <li><a href="README-grml-2014.03/">Grml 2014.03</a> - codename Ponywagon</li>
          <li><a href="README-grml-2013.09/">Grml 2013.09</a> - codename Hefeknuddler</li>
          <li><a href="README-grml-2013.02/">Grml 2013.02</a> - codename Grumpy Grinch</li>
          <li><a href="README-grml-2012.05/">Grml 2012.05</a> - codename Ponyhof</li>
          <li><a href="README-grml-2011.12/">Grml 2011.12</a> - codename Knecht Rootrecht</li>
          <li><a href="README-grml-2011.05/">Grml 2011.05</a> - codename Just Mari</li>
          <li><a href="README-grml-2010.12/">Grml 2010.12</a> - codename Gebr&uuml;der Grml</li>
          <li><a href="README-grml-2010.04/">Grml 2010.04</a> - codename Grmlmonster</li>
          <li><a href="README-grml-2009.10/">Grml 2009.10</a> - codename Hello-Wien</li>
          <li><a href="README-grml-2009.05/">Grml 2009.05</a> - codename Lackdose-Allergie</li>
          <li><a href="README-grml-2008.11/">Grml 2008.11</a> - codename Schluchtenscheisser</li>
          <li><a href="README-grml-1.1/">Grml 1.1</a> - codename Skunk</li>
          <li><a href="README-grml-1.0.html">Grml 1.0</a> - codename Meilenschwein</li>
          <li><a href="README-0.9.html">Grml 0.9</a> - codename Dioptrienotto</li>
          <li><a href="README-0.8.html">Grml 0.8</a> - codename Funkenzutzler</li>
          <li><a href="README-0.7.txt">Grml 0.7</a> - codename Bootenschnitzl</li>
          <li><a href="README-0.6.txt">Grml 0.6</a> - codename Winterschlapfn</li>
          <li><a href="README-0.5.txt">Grml 0.5</a> - codename Tokolytika</li>
          <li><a href="README-0.4.txt">Grml 0.4</a> - codename Eierspass</li>
          <li><a href="README-0.3.txt">Grml 0.3</a> - codename Hustenstopper</li>
          <li><a href="README-0.2.txt">Grml 0.2</a> - codename Satura</li>
          <li>Grml 0.1 - codename OS04</li>
        </ul>

      </div>

[% INCLUDE static_bottom.inc %]
