<!DOCTYPE html>
<html>
<head>
<title>grml.org - Release Notes: grml-medium 0.1 Pfuh</title>
<meta name="Title" content="grml.org - Files" />
<meta name="Author" content="the grml team [www.grml.org/team/]" />
<meta name="Keywords" content="grml.org, grml" />
<meta name="Description" content="Files of grml.org" />
<meta name="Abstract" content="grml, just another linux-distribution" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="https://grml.org/" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="home" href="/" title="grml.org" />
<link rel="help" href="/features/" title="About" />
<link rel="author" href="/team/" title="Team" />
<link rel="icon" href="/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
[% INCLUDE static.inc %]

      <div class="content">

        <h1>Release Notes:<br />grml-medium 0.1 - codename <a
        href="/faq/#releasename">Pfuh</a> (20080224)</h1>

        <h3>About</h3>

        <p>grml is a Debian-based Live-CD. It includes a collection of GNU/Linux
        software especially for users of texttools and system administrators.
        grml provides automatic hardware detection. You can use grml for example
        as a rescue system, for analyzing systems/networks or as a working
        environment. It is not necessary to install anything to a harddisk, you
        don't even need a harddisk to run it, unless you want to (use grml2hd
        for this). Due to on-the-fly decompression grml includes about 2.1GB
        of software and documentation on the CD.</p>

        <p>Whereas grml provides about 2.1GB of software on a ~700MB ISO and
        grml-small is a flavor with only ~60MB ISO-size, grml-medium tries to
        close the gap between those two flavours providing an ISO with ~200MB.
        It does not provide all the software shipped with normal/big/large grml
        but provides essential stuff, a full featured kernel and the X.org
        server.  You can use the Debian package management system to install
        software on the fly (assuming you have network access to a Debian
        mirror). Take a look at the '<a
        href="/files/">Debian-Information'-section</a> if you are searching for
        the package list.</p>


        <h3>News / Updates</h3>

        <p>grml-medium 0.1 is the initial release.</p>

        <h3>Known issues</h3>

        <p>Take a look at <a
        href="https://github.com/grml/grml/wiki/grml-medium_0.1">grml-medium_0.1
        @ grml-wiki</a>.  Please report problems using information on
        <a href="/bugs/">grml.org/bugs/</a>.</p>

        <h3>Download grml-medium 0.1</h3>

        <p>grml-medium 0.1 can be downloaded from mirrors listed on <a
        href="/download/">grml.org/download/</a>.</p>

        <h3>Feedback</h3>

        <p>Your comments, bug reports, patches, and suggestions will
        help fix bugs and improve future releases. If you find a
        problem with the release please check <a
        href="https://github.com/grml/grml/wiki/grml-medium_0.1">grml-medium_0.1
        @ grml-wiki</a> and report problems using information on <a
        href="/bugs/">grml.org/bugs/</a>. Please send your feedback,
        feature requests and bug reports to the grml-team!</p>

        <ul>
          <li><a href="/contact/">grml.org/contact/</a>
          <li><a href="/irc/">#grml on irc.freenode.org</a>
        </ul>

        <h3>More Information</h3>

        <p>You can find out more about grml on <a href="/">our website</a>, <a
        href="/irc/">IRC channel</a>, and <a href="http://wiki.grml.org/">wiki</a>.

        <p>To sign up for future grml announcements, please subscribe to <a
        href="http://lists.mur.at/mailman/listinfo/grml-announce"> grml's
        announcement list</a>.</p>


        <p><a
        href="http://www.spreadshirt.net/shop.php?article_id=3966156&view_id=4#top"><img
        align="right" style="margin-left: 20px; border: 0"
        src="/img/grmlshirt_0.9.jpg" alt="the grml 0.9 shirt" /></a></p>

        <h3>Further Questions?</h3>

        <p><a href="http://grml.org/contact/">Contact us.</a></p>

</div>

[% INCLUDE static_bottom.inc %]
