<!doctype html>
<html>
<head>
<title>grml.org - grml Tips</title>
<meta name="Title" content="grml.org - grml Tips" />
<meta name="Author" content="the grml team [www.grml.org/team/]" />
<meta name="Keywords" content="grml.org, grml" />
<meta name="Description" content="grml Tips" />
<meta name="Abstract" content="Grml, a Live Linux distribution" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="https://grml.org/" />
<link rel="home" href="/" title="grml.org" />
</head>
<body>

{{ .Content }}

</body>
</html>
