<!DOCTYPE html>
<html>
<head>
<base href="http://grml.org/">
<title>grml.org - Download - Mirror List</title>
<meta name="Title" content="grml.org - Download" />
<meta name="Author" content="the grml team [www.grml.org/team/]" />
<meta name="Keywords" content="grml.org, grml" />
<meta name="Description" content="Download of grml.org" />
<meta name="Abstract" content="grml, just another linux-distribution" />
<meta name="fdse-index-as" content="http://www.grml.org/download/mirrors/" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="http://www.grml.org/" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="home" href="/" title="grml.org" />
<link rel="help" href="/features/" title="About" />
<link rel="author" href="/team/" title="Team" />
<link rel="icon" href="/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
[% INCLUDE static.inc %]


<div class="content">

            <h1>Download - Mirror List</h1>

            <p><strong>NOTE:</strong> Please visit the <a href="/download/">download webpage</a> if you don't need the full mirror list.</p>

            <h2>Download via bittorrent</h2>

            <p>The torrent URLs are available at <a href="http://grml.deb.at/">grml.deb.at</a>.</p>

            <h2>Download via HTTP/FTP</h2>

            <p><a href="http://en.wikipedia.org/wiki/Geo_targeting">GeoIP</a>
            (automatically try to figure out the best matching mirror):</p>

            <ul>
              <li><a href="http://download.grml.org/">http://download.grml.org/</a></li>
            </ul>
	    [% FOREACH region IN mirrors.keys.sort %]
	    	<h3>Mirrors in [% region.substr(3) %] </h3>

		[% FOREACH mirror IN mirrors.$region.keys.sort %]
		<p>[% mirror %] ([% mirrors.$region.$mirror.location %])</p>
		[% FOREACH type IN [ 'grml-http' 'grml-rsync' 'grml-ftp' ] %]
		<ul>
            <li><a href="[% type.substr(5) %]://[% mirror %][% mirrors.$region.$mirror.$type %]">
                [% type.substr(5) %]://[% mirror %][% mirrors.$region.$mirror.$type %]
                </a>
            </li>
		</ul>
		[% END %]
		[% END %]
	    [% END %]



            <hr />

            <p><em>If you are interested in providing a mirror or a bittorrent link
            for Grml please <a href="/contact/">contact us</a>.</em>/</p>

</div>

[% INCLUDE static_bottom.inc %]
