<!DOCTYPE html>
<html>
<head>
<title>grml.org - Configuration</title>
<meta name="Title" content="grml.org - Configuration" />
<meta name="Author" content="the grml team [www.grml.org/team/]" />
<meta name="Keywords" content="grml.org, grml" />
<meta name="Description" content="Configuration of grml.org" />
<meta name="Abstract" content="Grml, a Live Linux distribution" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="https://grml.org/" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="home" href="/" title="grml.org" />
<link rel="help" href="/features/" title="About" />
<link rel="author" href="/team/" title="Team" />
<link rel="icon" href="/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
[% INCLUDE static.inc %]

      <div class="content">

        <p><img style="float: right" src="/img/floppy.png" alt="*" /></p>

        <h1>Configuration</h1>

        <p>Starting with version 0.5 Grml provides a configuration system.  Please
        see <a href="grml-autoconfig.1.html">grml-autoconfig.1.html</a> for details.</p>

	<p>In Grml releases up to and including 2009.05 the documentation is available on the
	grml ISO via 'man save-config' and as <a
	  href="file:///usr/share/doc/grml-saveconfig/grml-config.html">/usr/share/doc/grml-saveconfig/grml-config.html</a>.</p>

	<p>In Grml releases after 2009.05 the documentation is available on the
	grml-ISO via 'man 1 grml-autoconfig' and as <a
	  href="file:///usr/share/doc/grml-autoconfig/grml-autoconfig.1.html">/usr/share/doc/grml-autoconfig/grml-autoconfig.1.html</a>.</p>

	<p><strong>Tip:</strong> Make sure to also check out the new <a
	  href="https://github.com/grml/grml/wiki/persistency">persistency
	  features</a> of Grml.</p>

        <p>Any further wishes, feedback, bug reports? Please <a
        href="/contact/">contact us</a>!</p>

      </div>

[% INCLUDE static_bottom.inc %]
