<!DOCTYPE html>
<html>
<head>
<title>grml.org - Sponsors</title>
<meta name="Title" content="grml.org - sponsors" />
<meta name="Author" content="the grml team [www.grml.org/team/]" />
<meta name="Keywords" content="grml.org, grml" />
<meta name="Description" content="Grml Sponsors" />
<meta name="Abstract" content="grml, just another linux-distribution" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="https://grml.org/" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="home" href="/" title="grml.org" />
<link rel="help" href="/features/" title="About" />
<link rel="author" href="/team/" title="Team" />
<link rel="icon" href="/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
[% INCLUDE static.inc %]

    <div class="content">

      <h1>Sponsors</h1>

      <p>This is a list of companies or organizations that provide ongoing support to Grml.
      Thanks to their support and assistance, the Grml project can offer an excessive list of services for our users like free CDs, daily images, mailing lists, website, wiki etc.
      To be more precise without their support, the <a href="/">Grml project</a> would not be able to provide all the services you know and love.</p>

      <div class="sponsor_list">

        <div class="entry">

          <h3>Hostway Deutschland GmbH</h3>

          <a href="http://www.hostway.de/"><div style="float:left;margin-right:10px;" class="imagetext_image"><img width="300" border="0" height="100" title="" alt="" src="hostway.jpg"></div></a>

            <p><a target="_blank" href="http://www.hostway.de/">Hostway
            Deutschland</a> – more than just a hosting company.</p>

            <p><a target="_blank" href="http://www.hostway.com/">Hostway</a>
            is an international provider of dedicated hosting, shared
            hosting, colocation, domain name registration, ecommerce
            solutions and other Web-based services with a direct presence in
            14 countries, and 600,000 customers worldwide.</p>

            <p><a target="_blank" href="http://www.hostway.de/">Hostway
            Deutschland</a> operates 5 independent data centers in Germany,
            with 24/7 customer access and onsite staff. The network supports
            IPv4 and IPv6, as well as the operation of high availability
            solutions, involving different interconnected local or
            international Hostway data centers. Additionally, the <a
            target="_blank"
            href="http://www.hostway.de/hep/">Hostway Enterprise
            Platform</a>, provides a redundant infrastructure for high
            performance customized cloud solutions (public, private, and
            hybrid), including various add-on features, like CDN, IDS/IPS,
            load balancing, as well as a wide range of managed services.</p>

          </div>

        <div class="entry">

          <h3>Snel</h3>

          <a href="https://www.snel.com/?utm_source=website&utm_medium=banner&utm_campaign=sponsored_banner&utm_id=grml-sponsored"><div style="float:left;margin-right:10px;" class="imagetext_image"><img width="300" border="0" height="100" title="Snel VPS and dedicated hosting" alt="" src="Logo-Snel.com.png"></div></a>

            <p><a href="https://www.snel.com/?utm_source=website&utm_medium=banner&utm_campaign=sponsored_banner&utm_id=grml-sponsored">Snel</a>is a Dutch hosting provider. Our company was founded in 2010 and we are located in Rotterdam, a small dynamic city with a passionately beating heart. So in this small city we run a company that has a passionately beating heart for hosting. We provide simple and fast managed and self-managed cloud and dedicated hosting solutions with a great focus on automation.
            In a world where time is literally money we want our customers to save on both by providing them <a href="https://www.snel.com/?utm_source=website&utm_medium=banner&utm_campaign=sponsored_banner&utm_id=grml-sponsored">Cloud VPS</a>, <a href="https://www.snel.com/?utm_source=website&utm_medium=banner&utm_campaign=sponsored_banner&utm_id=grml-sponsored">Pure Performance VPS</a> and <a href="https://www.snel.com/?utm_source=website&utm_medium=banner&utm_campaign=sponsored_banner&utm_id=grml-sponsored">Dedicated Servers</a>with instant setup and an automated platform with enough features to virtually do anything. 
            We believe that the simplicity of our services and treating customers as friends sets us apart from the competition. Our company exists of a small team but our team is big enough to provide perfect solutions and support to any of your questions.</p>

        </div>

        <div class="entry">

            <h3>Server Hunter</h3>

            <a href="https://www.serverhunter.com/?utm_source=grml&utm_medium=logo&utm_content=website">
                <div style="float:left; padding: 20px;" class="imagetext_image">
                    <img width="270" border="0" height="40" title="Server Hunter" alt="Server Hunter" src="serverhunter.svg">
                </div>
            </a>

            <p>Have you ever tried looking for a new VPS or dedicated server
            provider? There are millions of options and no way to easily search
            through them. That's why <a target="_blank"
            href="https://www.serverhunter.com/?utm_source=grml&utm_medium=logo&utm_content=website">Server
            Hunter</a> automatically aggregates all
            the products of hundreds of providers and makes it easy for you to
            filter, search and find that specific provider you're looking
            for.</p>

        </div>

        <br />

        <div class="entry">

            <h3>SynPro Solutions</h3>

            <a href="https://synpro.solutions/?source=grml_website">
                <div style="float:left; margin-top: 10px; margin-right: 10px;" class="imagetext_image">
                    <img width="300" border="0" height="99" title="SynPro Solutions" alt="SynPro Solutions" src="synpro.png">
                </div>
            </a>

            <p>
            <a href="https://synpro.solutions/?source=grml_website">SynPro Solutions</a> is an Austrian IT services company.
            We are primarily located in Graz and focusing on system administration and its best practices, emergency response and strategic IT consulting.
            We provide customized rescue systems, based on Grml to our customers and offer all kind of services related to Debian and Grml.
            </p>

        </div>

      </div>

    [% INCLUDE static_bottom.inc
        sponsors = '1'
    %]
