<!DOCTYPE html>
<html>
<head>
<title>grml.org - Beta Versions</title>
<meta name="Author" content="the grml team [www.grml.org/team/]" />
<meta name="Keywords" content="grml.org, grml" />
<meta name="Description" content="Beta-tester(s) at grml.org" />
<meta name="Abstract" content="grml, just another linux-distribution" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="http://www.grml.org/" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="home" href="/" title="grml.org" />
<link rel="help" href="/features/" title="About" />
<link rel="author" href="/team/" title="Team" />
<link rel="icon" href="/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
[% INCLUDE static.inc %]

<div class="content">

        <h1>Beta Versions</h1>

        <p>All these versions are highly experimental. As always:<br>
            Use them at your own risk.<br>
            <b>Provide <a href="/bugs/">bug reports</a> if you find problems.</b>
        </p>

        <h2>Daily Build</h2>

        <p><a href="http://daily.grml.org/">Daily builds</a> mostly reflect
        development of the next Grml release. These builds are not tested.</p>

        <!--
        <h2>Continuous Integration Build</h2>

        <p>Our CI system builds a special version of the Grml amd64
        flavour after every Grml git code change. This build is usually not
        tested and includes experimental code that may not have been tested
        either and that may never be released.
        <a href="http://jenkins.grml.org/job/grml-full-amd64/">See here.</a></p>
        -->

        <h2>Release Candidates</h2>

        <p>Shortly before we publish a new release a release candidate version
        is made available to the public.
        <!--
        Currently there's no release candidate
        version available.</p>
        -->

        The CURRENT RELEASE CANDIDATE is available for
        <a href="/download/prerelease/">download NOW</a>.</p>

      </div>

[% INCLUDE static_bottom.inc %]
