{{ if not .Params.nosponsors  }}
<div class="sponsors">
      <h3>Sponsors</h3>
      <p>
        Grml is sponsored by several companies. For more information about our sponsors check out the <a href="/sponsors/">Sponsors webpage</a>. Our main sponsors are:
      </p>
      <div>
        <a href="https://synpro.solutions/?source=grml_website" target="_blank">
        <img src="/sponsors/synpro.png" width="300" height="99" alt="SynPro Solutions logo"/>
        </a>
      </div>
      <div>
        <a href="http://www.hostway.de/" target="_blank">
        <img src="/sponsors/hostway.jpg" width="300" height="100" alt="hostway logo"/>
        </a>
      </div>
      <div>
        <a href="https://www.snel.com/?utm_source=website&utm_medium=banner&utm_campaign=sponsored_banner&utm_id=grml-sponsored">
        <img src="/sponsors/Logo-Snel.com.png" width="300" height="112" alt="snel logo"/>
        </a>
      </div>
      <div style="margin-top: 30px;">
        <a href="https://www.serverhunter.com/?utm_source=grml&utm_medium=logo&utm_content=website" target="_blank">
        <img src="/sponsors/serverhunter.svg" width="300" alt="Server Hunter logo"/>
        </a>
      </div>
</div>
{{ end }}
