<!DOCTYPE html>
<html>
<head>
<title>grml.org - grml-small</title>
<meta name="Title" content="grml.org - grml-small" />
<meta name="Author" content="the grml team [www.grml.org/team/]" />
<meta name="Keywords" content="grml.org, grml" />
<meta name="Description" content="grml-small of grml.org" />
<meta name="Abstract" content="grml, just another linux-distribution" />
<meta name="fdse-index-as" content="http://www.grml.org/news/" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="http://www.grml.org/" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="home" href="/" title="grml.org" />
<link rel="help" href="/features/" title="About" />
<link rel="author" href="/team/" title="Team" />
<link rel="icon" href="/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
[% INCLUDE static.inc %]

      <div class="content">

            <p><img style="float: right" src="/img/info.png" alt="*" /></p>

            <h1>grml-small</h1>

            <p>grml-small is a bootable CD (Live-CD) based on Knoppix and Debian.
            grml-small includes a collection of GNU/Linux software for system
            administrators and provides automatic hardware detection.  Whereas grml
            (without the -small) provides more than about 2.1GiB of software on a
            700MB-ISO, grml-small is a very small rescue system for
            systemadministrators.  It is not necessary to install anything to a
            harddisk, you don't even need a harddisk to run it.  Due to on-the-fly
            decompression grml-small includes about 150 MB of software and still fits
            on a business card CD-ROM or USB device with 50MB.</p>

      </div>

[% INCLUDE static_bottom.inc %]
