<!DOCTYPE html>
<html>
<head>
<title>grml.org - Features</title>
<meta name="Title" content="grml.org - Homepage" />
<meta name="Author" content="the grml team [www.grml.org/team/]" />
<meta name="Keywords" content="grml.org, grml" />
<meta name="Description" content="Features grml.org" />
<meta name="Abstract" content="Grml, a Live Linux distribution" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="https://grml.org/" />
<link rel="home" href="/" title="grml.org" />
<link rel="help" href="/features/" title="Features" />
<link rel="author" href="/team/" title="Team" />
<link rel="icon" href="/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
[% INCLUDE static.inc %]

      <div class="content">

          <h1>Features and main goals of Grml</h1>

          <ul>
              <li>distribution for sysadmins and users of text tools</li>
              <li>Debian based distribution (reusing existing infrastructure)</li>
            </ul>

          <p><a href="/zsh/"><img style="border: 0"
          src="/img/zsh_lover.png" alt="*" /></a> Grml - Linux for zsh
          lovers</p>

          <p>
          Grml provides an excellent selection of software packages for installation, deployment and system rescue.
          You'll get <strong>sysadmin's favourite tools</strong>.
          Choose between a x86 and an amd64 version depending on your needs or just grab the multiboot ISO grml96, providing 64bit and 32bit ISOs in one single place.
          </p>

          <p>
          Grml provides several scripts and utils which <strong>make life easier</strong>.

          The default interactive shell is <strong><a href="/zsh/">Zsh</a></strong> and is configured with a very powerful setup (known as <strong>grml-zshrc</strong>), including a nifty completion mechanism.

          <strong>grml-x</strong> is a wrapper for configuring and using the X window system.

          <strong><a href="/grml2usb/">grml2usb</a></strong> is a tool for installing Grml ISO(s) on a USB device for booting.

          <strong>grml-crypt</strong> is a program that provides an easy wrapper around cryptsetup, mkfs, losetup and mount.

          <strong>grml-terminalserver</strong> provides all what's needed to boot Grml over the network (PXE).

          <strong>grml-hwinfo</strong> collects information of the hardware the tool is being executed on.

          <strong><a href="/grml-live/">grml-live</a></strong> is a build framework based on <a href="https://fai-project.org/">FAI</a> (Fully Automatic Installation) for generating a Grml and Debian based Linux Live system (CD/ISO).

          <strong><a href="/grml-debootstrap/">grml-debootstrap</a></strong> is a wrapper around debootstrap for installing plain Debian.

          <strong>grml-tips</strong> provides useful tips and tricks for daily life on the command line. </p>

          <p>Visit the <a href="/faq/">FAQ</a> for answers to some Frequently Asked Questions.</p>

          <p>You can browse the list of software (packages) provided by Grml - check out the <a href="/files/#debian">Debian section</a>.</p>

        </div>

[% INCLUDE static_bottom.inc %]
