
body {
   margin:0pt;
   padding:0pt;
}
* {
   font-family: verdana,helvetica,sans-serif;
   font-size: 10pt;
}
tt,pre { 
   font-family:monospace;
}
a {
   text-decoration: none;
}
.small, .small * {
   font-size: 8pt;
}
.smallgray, .smallgray * {
   color: #999999;
   font-size: 8pt;
}

