<!DOCTYPE html>
<html>
<head>
<title>grml.org - Screenshots</title>
<meta name="Title" content="grml.org - Screenshots" />
<meta name="Author" content="the grml team [www.grml.org/team/]" />
<meta name="Keywords" content="grml.org, grml" />
<meta name="Description" content="Screenshots of grml.org" />
<meta name="Abstract" content="grml, just another linux-distribution" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="https://grml.org/" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="home" href="/" title="grml.org" />
<link rel="help" href="/features/" title="About" />
<link rel="author" href="/team/" title="Team" />
<link rel="icon" href="/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
[% INCLUDE static.inc %]

      <div class="content">

        <p><img style="float: right" src="/img/mycomputer.png" alt="*" /></p>

        <h1>Screenshots</h1>

        <h2><a name="bootsplash"></a>Bootsplash / BIOS</h2>

        <a href="vesamenu.png"><img style="border: 0" src="vesamenu.jpg" alt="Screenshot" /></a><br />

        <p>This screenshot shows the bootsplash in BIOS mode.</p>

        <h2><a name="bootsplash"></a>Bootsplash / EFI</h2>

        <a href="bootsplash_efi.png"><img style="border: 0" src="bootsplash_efi.jpg" alt="Screenshot" /></a><br />

        <p>This screenshot shows the bootsplash in EFI mode.</p>

        <h2><a name="booting"></a>Booting</h2>

        <a href="booting.png"><img style="border: 0" src="booting.jpg" alt="Screenshot" /></a><br />

        <p>This screenshot shows the bootup sequence right after the bootsplash.</p>

        <h2><a name="console"></a>Console</h2>

        <a href="console.png"><img style="border: 0" src="console.jpg" alt="Screenshot" /></a><br />

        <p>This screenshot shows w3m with image support on a framebuffer device. That's what
        you'll see when running 'grml-info' on the console.</p>

        <h2><a name="zsh"></a>zsh</h2>

        <a href="cdrec.png"><img style="border: 0" src="cdrec.jpg" alt="Screenshot" /></a><br />

        <p>This screenshot shows GNU screen running on console using framebuffer
        device with zsh and the completion mechanism of zsh running cdrecord.</p>

        <h2><a name="grml"></a>X Window System - fluxbox</h2>

        <a href="grml_2021.07.png"><img style="border: 0" src="grml_2021.07.jpg" alt="Screenshot" /></a><br />

        <p>This screenshot shows Grml 2021.07 running the X Window system with the <a
        href="http://fluxbox.sourceforge.net/">fluxbox</a> window manager.</p>

      </div>

[% INCLUDE static_bottom.inc %]
