<!DOCTYPE html>
<html>
<head>
<title>grml.org - Known Bugs</title>
<meta name="Title" content="grml.org - Known Bugs" />
<meta name="Author" content="the grml team [www.grml.org/team/]" />
<meta name="Keywords" content="grml.org, grml" />
<meta name="Description" content="Report bug(s) at grml.org" />
<meta name="Abstract" content="Grml, a Live Linux distribution" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="https://www.grml.org/" />
<link rel="home" href="/" title="grml.org" />
<link rel="help" href="/features/" title="About" />
<link rel="author" href="/team/" title="Team" />
<link rel="icon" href="/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
[% INCLUDE static.inc %]


<div class="content">

        <h1>Known Bugs</h1>

        <p>We track issues at <a href="https://github.com/grml/grml/issues">github.com/grml/grml/issues</a>.
        Several Grml sub-projects (grml-debootstrap, grml-etc-core, grml2usb,...) have their own repository and issue tracking,
        see <a href="https://github.com/grml/">github.com/grml/</a> to get an overview. If you're unsure where to report an issue though,
        feel free to use <a href="https://github.com/grml/grml/issues">github.com/grml/grml/issues</a> though.

        <p>If you find additional bugs, please <a href="/bugs/">report them</a>.</p>

        <h2>Known Bugs in Grml 2024.02</h2>

        <ul>
          <li>No known issues yet</li>
        </ul>

        <h2>Known Bugs in Grml 2024.02-rc1</h2>

        <ul>
          <li>ping as non-root fails due to missing capabilities (<a href="https://github.com/grml/grml-live/issues/143">#143</a>)</li>
        </ul>

</div>

[% INCLUDE static_bottom.inc %]

