<!DOCTYPE html>
<html>
<head>
<title>grml.org - Download</title>
<meta name="Title" content="grml.org - Download" />
<meta name="Author" content="the grml team [www.grml.org/team/]" />
<meta name="Keywords" content="grml.org, grml" />
<meta name="Description" content="Download of grml.org" />
<meta name="Abstract" content="grml, just another linux-distribution" />
<meta name="fdse-index-as" content="http://www.grml.org/download/" />
<meta name="Robots" content="index,follow" />
<meta name="Language" content="english" />
<meta name="identifier-url" content="http://www.grml.org/" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="home" href="/" title="grml.org" />
<link rel="help" href="/features/" title="About" />
<link rel="author" href="/team/" title="Team" />
<link rel="icon" href="/favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
<style type="text/css">
#contentbox {
    padding-left: 20px;
    padding-right: 20px;
}
.download_panel {
    float: left;
    width: 288px;
    margin-bottom: 2em;
    margin-top: 1em;
    font-size: 10pt;
}
.download_panel>div {
    margin-right: 20px;
}
#download_panel4 {
    width: auto;
}
.largebutton {
    width: 100%;
    background: #FFDA62;
    height: 90px;
    border: 1px solid gray;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    margin-bottom: 0.5em;
    font-size: 15pt;
    font-weight: bold;
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: auto;
    }
.largebutton:hover {
    background: #FFA862;
}
.download_relinfo {
    font-size: 10pt;
    margin-top: 0.8em;
    }
.download_group {
    border-bottom: 1px dotted gray;
    overflow: auto;
}
.hide {
    display: none;
}
</style>

</head>

<body>
[% INCLUDE static.inc %]

<div class="content">

    <h1>Download Grml 2017.05</h1>

    <p>Get the current stable release here.<br />

    <!--
    <a href="prerelease/">Looking for the current pre-release version instead?</a></p>
    -->

    <p>Download the Grml flavour you need, then write it to a CD-ROM/DVD or an empty USB stick.</p>

    <div class="download_group" id="download_group1_noscript">
    <div class="download_panel" id="download_panel1_noscript"><div>
        <a href="http://grml.org/download/mirrors/">Download from a specific mirror</a><br/>
        <br/>
        Direct download links:<br/>
        <a href="http://download.grml.org/grml96-full_2017.05.iso">Grml96 full ISO</a> [<a href="http://download.grml.org/grml96-full_2017.05.iso.asc">Signature</a>]<br/>
        <a href="http://download.grml.org/grml64-full_2017.05.iso">Grml64 full ISO</a> [<a href="http://download.grml.org/grml64-full_2017.05.iso.asc">Signature</a>]<br/>
        <a href="http://download.grml.org/grml32-full_2017.05.iso">Grml32 full ISO</a> [<a href="http://download.grml.org/grml32-full_2017.05.iso.asc">Signature</a>]<br/>
        <a href="http://download.grml.org/grml96-small_2017.05.iso">Grml96 small ISO</a> [<a href="http://download.grml.org/grml96-small_2017.05.iso.asc">Signature</a>]<br/>
        <a href="http://download.grml.org/grml64-small_2017.05.iso">Grml64 small ISO</a> [<a href="http://download.grml.org/grml64-small_2017.05.iso.asc">Signature</a>]<br/>
        <a href="http://download.grml.org/grml32-small_2017.05.iso">Grml32 small ISO</a> [<a href="http://download.grml.org/grml32-small_2017.05.iso.asc">Signature</a>]<br/>
        <br/>
        </div></div>
    </div>

    <div class="download_group" id="download_group1" style="display:none;">
    <form method="get" action="/download/bounce/">
    <input type="hidden" name="version" value="2017.05"/>
    <div class="download_panel" id="download_panel1"><div>

    <h2>Options</h2>

    <select name="flavour" id="download_flavour" style="width:100%;">
    <option value="full" selected="selected">grml-full (~600MB)</option>
    <option value="small">grml-small (~280MB)</option>
    </select>
    <br /><br />
    <select name="arch" id="download_arch" style="width:100%;">
    <option value="amd64" selected="selected">64-bit PC (amd64)</option>
    <option value="i386">32-bit PC (i686+)</option>
    <option value="96">One for both (~1.2GB)</option>
    </select>
    <br />
    <br />
    <br />
    <br />
    <br />

    <!--
    <a href="/download/prerelease/" class="button" style="padding: 12px; font-weight: bold;"><span>Get 2014.10-rc1 instead!</span></a>
    <br />
    <br />
    <br />
    -->

    <div style="font-size: 14pt;">
    <p><a href="http://grml.org/changelogs/README-grml-2017.05">Release Notes</a></p>

    </div>
    </div>
    </div>


    <div class="download_panel" id="download_panel2"><div>
    <!-- fallback cgi buttons -->
    <div id="formbuttons">
    <button name="filetype" value="iso" id="download_button_mirror" class="largebutton" style="width:100%;" type="submit">Download Now </button><br />
    <button name="filetype" value="bt" id="download_button_bt" type="submit">Download using BitTorrent</button><br />
    <button name="filetype" value="signature" id="download_button_signature" type="submit">Get Checksum/Signature</button><br />
    <a href="http://grml.org/download/mirrors/">Download from a specific mirror</a><br/>
    </div>
    <!-- JS links -->
    <div id="linkbuttons" style="display:none;">
    <a id="download_link_mirror" class="largebutton">Download Now</a><br />
    <a id="download_link_bt">BitTorrent Download</a><br />
    <a id="download_link_signature">Get Checksum/Signature</a><br />
    <a href="http://grml.org/download/mirrors/">Download from a specific mirror</a><br/>
    </div>
    </div></div>

    </form>
    <script type="text/javascript">
    function update_arch() {
        var flavour = document.getElementById('download_flavour').value;
        if (flavour == 'small') document.getElementById('download_arch').innerHTML = '<option value="amd64">64-bit PC (amd64)</option><option value="i386">32-bit PC (i686+)</option><option value="96">One for both (~550MB)</option>';
        if (flavour == 'full') document.getElementById('download_arch').innerHTML = '<option value="amd64">64-bit PC (amd64)</option><option value="i386">32-bit PC (i686+)</option><option value="96">One for both (~1.2GB)</option>';
        update_links();
    }

    function update_links() {
        var current_version = "2017.05";
        var product = 'grml';
        var arch = document.getElementById('download_arch').value;
        var flavour = document.getElementById('download_flavour').value;
        if (arch == 'amd64') product = 'grml64';
        if (arch == 'i386') product = 'grml32';
        if (arch == '96') product = 'grml96';
        var iso = product + '-' + flavour + '_' + current_version + '.iso';
        var mirror_url = "http://download.grml.org/";
        document.getElementById('download_link_mirror').href = mirror_url + iso;
        document.getElementById('download_link_mirror').innerHTML = '<br />Download Now<div class="download_relinfo">' + product + '-' + flavour + ' ' + current_version + '</div>';
        document.getElementById('download_link_bt').href = mirror_url + iso + '.torrent';
        document.getElementById('download_link_signature').href = mirror_url + iso + '.asc';
    }

    // hook update function
    document.getElementById('download_flavour').onchange = update_arch;
    document.getElementById('download_arch').onchange = update_links;
    // force initial link href set
    update_links();
    // only show our link "buttons"
    document.getElementById('formbuttons').style.display = 'none';
    document.getElementById('linkbuttons').style.display = '';
    document.getElementById('download_group1').style.display = '';
    document.getElementById('download_group1_noscript').style.display = 'none';
    </script>
    </div>

    <div class="download_group" id="download_group2">

    <div class="download_panel" id="download_panel3"><div>
    <b>Alternate downloads</b><br /><br />
    <a href="https://daily.grml.org/">Daily images</a><br />
    <a href="http://download.grml.org/">Older releases</a><br />
    <a href="http://download.grml.org/grml_sources-2017.05.tar.gz">Source code</a> (both archs)<br />
    <br/>
    Netboot packages:<br/>
    <a href="http://download.grml.org/grml_netboot_package_grml64-full_2017.05.tar.bz2">64-bit</a>
    <a href="http://download.grml.org/grml_netboot_package_grml64-full_2017.05.tar.bz2.asc">(sig)</a>
    <a href="http://download.grml.org/grml_netboot_package_grml32-full_2017.05.tar.bz2">32-bit</a>
    <a href="http://download.grml.org/grml_netboot_package_grml32-full_2017.05.tar.bz2.asc">(sig)</a>

    <br />
    <br />
    <b>Signing Key</b>
    <br />
    Please verify all downloads using GnuPG!
    <br />
    For each released ISO image there is also a signature file, that should be verified with the following
    <a href="https://grml.org/download/gnupg-michael-prokop.txt">signing key</a>:
    <pre>pub  4096R/96A87872B7EA3737 2010-07-14 Michael Prokop &lt;mail (at) michael-prokop.at&gt;
Key fingerprint = 33CC B136 401A FEC8 43A3  8763 96A8 7872 B7EA 3737
sub  4096R/257B6FD52892CF7E 2010-07-14</pre>
    </div></div>

    <div class="download_panel" id="download_panel4"><div>
    <b>Boot from USB key</b><br />
    <br />
    Just <tt>dd(1)</tt> the downloaded ISO to an <abbr title="Any existing data will be overwritten by the dd command!">empty</abbr> USB key!<br /><br />
    <code>dd if=grml64_2017.05.iso of=/dev/USB_KEY</code>
    <br /><br />

    <b>Troubleshooting</b><br /><br />
    <a href="https://git.grml.org/?p=grml-live.git;a=blob_plain;f=templates/GRML/grml-cheatcodes.txt;hb=HEAD">Boot option guide</a>
    <br /><br />

    </div></div>

    </div>

    <h2>Git repositories</h2>

    <p>The Grml team uses <a href="https://git-scm.com/">git</a> for
    managing software and packages. The repositories are available
    online at <a href="https://github.com/grml/">GitHub</a>.</p>

    <div style="clear: both;"></div>

</div>

[% INCLUDE static_bottom.inc %]
